/* Fontes */
@font-face {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://fonts.googleapis.com/icon?family=Material+Icons) format('woff2');
    font-display: swap;
}

/* Estilos de texto comuns */
body, h1, h2, span, div {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
}

/* Estilos do corpo da página */
body {
    background-color: #9f9f9f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
    transition: background-color 0.7s ease, color 0.s ease;
}

/* Modo escuro */
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.7s ease, color 0.7s ease;
}

/* Container principal */
.container {
    background-color: #dddddd;
    box-shadow: 0 0 100px 2px rgba(0, 122, 255, 0.3);
    border-radius: 16px;
    padding: 30px;
    width: 80%;
    max-width: 550px;
    transition: background-color 0.9s ease, color 0.9s ease, box-shadow 1s ease;
    position: fixed;
}

/* Modo escuro para o container */
.container.dark-mode {
    background-color: #222222;
    color: #ffffff;
}

.container:hover {
    box-shadow: 0 0 200px 30px rgba(0, 122, 255, 0.3);
    border-radius: 16px;
    padding: 30px;
    width: 80%;
    max-width: 550px;
}

.center-container {
    margin: 10px auto;
    position: fixed;
    top: 0px;
}

/* Botão de modo escuro */
.dark-mode-button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-button:hover {
    background-color: #444444;
    box-shadow: 0 0 20px #485768;
    transition: box-shadow 0.3s ease;
}



/* Botão de troca de idioma */
#language-switch-btn {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    text-decoration: none;
    display: inline-block;
    margin-right: 0%;
    margin-top: 0px;
}

#language-switch-btn:hover {
    background-color: #0055b3;
    box-shadow: 0 0 15px #0055b3;
    transition: box-shadow 0.5s ease;
}

/* Botão de regar a planta */
.water-button {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.water-plant {
    margin-top: 20px;
}

.water-button:hover {
    background-color: #02438c;
    box-shadow: 0 0 60px #0055b3;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

/* Cabeçalho */
header {
    text-align: center;
}

/* Título principal */
h1 {
    font-family: -apple-system, sans-serif;
    font-size: 50px;
    color: #666666;
    margin: 0px;
}

section {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    color: #666666;
}

/* Itens do sensor */
.sensor-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

/* Ícones do sensor */
i.material-icons {
    font-size: 24px;
    margin-right: 10px;
    color: #007aff;
}

span {
    font-size: 18px;
    color: #777777;
}

/* Interruptor do darkmode */
.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    margin-right: 50px;
}

/* Alça do interruptor */
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666666;
    transition: 0.6s;
    border-radius: 34px;
}

/* Ponto de ativação do interruptor */
.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.6s;
    border-radius: 50%;
    transform: translateX(0);
}

/* Interruptor ativo */
.switch input:checked + .slider {
    background-color: #444444;
}

/* Ponto de ativação do interruptor ativo */
.switch input:checked + .slider:before {
    background-color: #fff;
    transform: translateX(26px);
}

.hidden {
    display: none;
}

/* Ícone de rotação */
.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* Título do sensor com opção de alternância */
h2.sensor-toggle {
    font-size: 20px;
    color: #666666;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    user-select: none;
}

/* Ícone de alternância do sensor */
i#sensor-toggle-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #007aff;
    transition: transform 0.3s ease;
    user-select: none;
}

/* Aplicar rotação ao ícone quando a classe "rotate-icon" está presente */
i#sensor-toggle-icon.rotate-icon {
    transform: rotate(180deg);
    user-select: none;
}

/* Manter a lista oculta quando necessário */
ul#sensor-list.hidden {
    display: none;
}