<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bem-vindo ao Painel do Jardim Inteligente de Vegetais. 
    Monitore e controle os sensores de ar e solo, eletricidade, reservatórios e sensores ambientais do seu jardim de forma prática e eficiente. 
    Regue suas plantas manualmente com um clique. Alterne entre os modos claro e escuro para uma experiência personalizada.">
    <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
   
    <title>Painel do Jardim Inteligente de Vegetais</title>
    <style>
        /* Estilos críticos */
        body {
            background-color: #9f9f9f;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <script src="/static/script-spa.js"></script>
</head>
<body>
    <div class="container center-container">
        <header>
            <h1>Jardim</h1>
            <button id="dark-mode-toggle" class="dark-mode-button">Modo Escuro</button>
            <button id="language-switch-btn">English</button>
        </header>
        <section class="sensor" id="sensor-container">
            <!-- Os dados do sensor serão inseridos aqui usando JavaScript -->
        </section>
        <section class="water-plant">
            <h2>Rega das Plantas</h2>
            <button id="water-button" class="water-button">Regar Manualmente</button>
        </section>
    </div>

    <script>
        
    </script>
    
    
    
    
    
</body>
</html>
